<div class="row mt-5 ">
  <div class="col-md-5 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新用戶註冊系統</h1>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="輸入姓名" value="{{ name }}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="輸入信箱"
            value="{{ email }}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="輸入密碼"
            value="{{ password }}">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="再次確認密碼">
        </div>
        {{#if email}}
        <div class="d-flex justify-content-center p-3 mb-2 bg-danger text-white rounded-pill">
          <h4>信箱重複註冊</h4>
        </div>
        {{/if}}
        <button type="submit" class="btn btn-primary btn-block">確認送出</button>
      </form>
    </div>
  </div>
</div>